<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="StudyBuddyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ll\source\repos\testing\testing\App_Data\StudyBuddyDB.mdf;Integrated Security=True" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
</configuration>

