<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="TaskManagerDB"
			 connectionString="DData Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\ll\source\repos\TaskManager\TaskManager\App_Data\TaskManagerDB.mdf;Integrated Security=True"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>


</configuration>
